.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map-container {
  width: 100%;
}

.slider-container {
  width: 50%;
  margin-bottom: 10%;
}